<%-include("header.ejs")%>
<div class="center" >
	 <h1 class="SignUp" >Login</h1>
	 <form class="log" action="/signup" method="post">
	<input type="text" name="susername" placeholder="Username">
	<input type="email" name="semail" placeholder="Email">
	 <input type="password" name="spassword" placeholder="Password" >
	 <input type="password" name="cspassword" placeholder="Confirm password">
	 <input name="sub" type="submit">
 </div>
 <%-include("footer.ejs")%>